.btn-lvl {
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: 1px darkslategray solid;
    box-sizing: border-box;
    padding: 0 20px;
    margin-bottom: 1px;
    border-radius: 5px;
    background-color: darkslategray;
}


.btn-lvl:focus{
    background-color: rgb(8, 8, 8);
}